@using Ost_Inventory_b4.Models;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table.ws-table-all {
        margin: 20px 0;
        display: table;
        border: 1px solid #ccc;
    }

    .ws-table-all tr:nth-child(2n+1) {
        background-color: #fff;
    }

    .ws-table-all tr {
        border-bottom: 1px solid #ddd;
    }

    #customers th {
        padding-top: 11px;
        padding-bottom: 11px;
        background-color: #04AA6D;
        color: white;
    }

    #customers td, #customers th {
        text-align: left;
        padding: 8px;
    }

    .ws-table-all td, .ws-table-all th {
        padding: 8px 8px;
        display: table-cell;
        text-align: left;
        vertical-align: top;
    }

    .ws-table-all th {
        padding-top: 11px;
        padding-bottom: 11px;
        background-color: #04AA6D;
        color: white;
    }
</style>
@{
    BaseEquipment baseEquipment = new BaseEquipment();
    List<BaseEquipment> equipments = baseEquipment.LstEquipment();

    <div class="row">
        <div class="col col-sm-6">
            <div class="card">
                <div class="card-header">
                    Equipment List
                    <a href="#" class="btn btn-sm btn-primary" onclick="ShowModal()">Add New</a>
                </div>
                <div class="card-body">
                    <div style="width:100%;height:400px;overflow:auto">
                        <table class="ws-table-all" style="width:100%;">
                            <tr>
                                <th>EquipmentId</th>
                                <th>EquipmentName</th>
                                <th>Quantity</th>
                                <th>Stock</th>
                                <th>EntryDate</th>
                                <th>ReceiveDate</th>
                            </tr>
                            @foreach (BaseEquipment obj in equipments)
                            {
                                <tr>
                                    <td>@obj.EquipmentId</td>
                                    <td>@obj.EquipmentName</td>
                                    <td>@obj.Quantity</td>
                                    <td>@obj.Stock</td>
                                    <td>@obj.EntryDate.ToString("dd/MM/yyyy")</td>
                                    <td>@obj.ReceiveDate.ToString("dd/MM/yyyy")</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col col-sm-6">
            <div class="card">
                <div class="card-header">
                    Assigened List
                    <a href="#" class="btn btn-sm btn-primary">Add New</a>
                </div>
                <div class="card-body">
                    <div style="width:100%;height:400px;overflow:auto">
                        <table class="ws-table-all" style="width:100%;">
                            <tr>
                                <th>EquipmentId</th>
                                <th>EquipmentName</th>
                                <th>Quantity</th>
                                <th>Stock</th>
                                <th>EntryDate</th>
                                <th>ReceiveDate</th>
                            </tr>
                            @foreach (BaseEquipment obj in equipments)
                            {
                                <tr>
                                    <td>@obj.EquipmentId</td>
                                    <td>@obj.EquipmentName</td>
                                    <td>@obj.Quantity</td>
                                    <td>@obj.Stock</td>
                                    <td>@obj.EntryDate.ToString("dd/MM/yyyy")</td>
                                    <td>@obj.ReceiveDate.ToString("dd/MM/yyyy")</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}



